.register {
    margin: 0 auto;
    padding: 70px 0 70px 0;
    max-width: 396px;
    box-sizing: border-box;
}

.register__title {
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 40px 0;
}

.register__fill {
    /* margin-top: 24px; */
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}

.register__label {
    color: #A0A0A0;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.register__input {
    width: 100%;
    margin: 0;
    padding: 0 0 10px 0;
    border: none;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: #FAFAFA;
    border-bottom: 1px solid #E8E8E8;
}

.register__input:focus {
    font-weight: 500;
    outline: none;
    border-bottom: 1px solid #3456F3;
}

.register__input_error.register__input:focus {
    border-bottom: 1px solid #EE3465;
    color: #EE3465;
}

.register__input_error {
    color: #EE3465;
}

.register__nav {
    padding-top: 128px;
    display: flex;
    flex-direction: column;
    row-gap: 17px;
    align-items: center;
}

.register__error_visible {
    color: #FF004C;
    text-align: center;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: auto;
    padding: 0;
}

.register__text {
    margin: 0;
    padding: 0;
    color: #A0A0A0;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.register__login {
    color: #3456F3;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    transition: opacity 0.3s;
}

.register__login:hover {
    opacity: .7;
}

.regauto__error-visible {
    color: #EE3465;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    display: inline-block;
    height: 20px;
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

.register__button {
    display: block;
    border: none;
    padding: 0;
    margin: 0;
    outline: none;
    cursor: pointer;
    transition: opacity 0.3s;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: #FFF;
    background: #3456F3;
    border-radius: 3px;
    width: 100%;
    height: 45px;
    transition: opacity 0.3s;
}

.register__button:hover {
    opacity: .8;
}

.register__button_disabled {
    background: #F8F8F8;
    color: #C2C2C2;
}

@media screen and (max-width: 768px) {
    .register {
        padding: 232px 0 232px 0;
    }
}

@media screen and (max-width: 456px) {
    .register {
        padding: 56px 30px 30px 30px;
        width: 100%;
        box-sizing: border-box;
    }

    .register__logowrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .register__title {
        margin: 50px 0 80px 0;
    }

    .register__nav {
        padding-top: 217px;
    }

    .register__text {
        font-size: 12px;
    }

    .register__login {
        font-size: 12px;
    }

    .register__nav {
        row-gap: 14px;
    }

    .regauto__error_visible {
        height: 23px;
    }
}

@media screen and (max-width: 420px) {
    .button-reg-login {
        font-size: 12px;
    }
}