.footer {
    margin: 0;
    padding: 79px 70px 20px 70px;
    background: #F8F8F8;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer__text {
    margin: 0 0 22px 0;
    padding-bottom: 20px;
    border-bottom: 1px solid #E8E8E8;
    text-align: center;
    color: #A0A0A0;
}

.footer__skills {
    display: flex;
    justify-content: space-between;
}

.footer__year {
    margin: 0;
}

.footer__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    column-gap: 20px;
}

.footer__link {
    text-decoration: none;
    color: #000;
    transition: opacity .3s;
}

.footer__link:hover {
    opacity: .7;
}

@media screen and (max-width: 768px) {
    .footer {
        padding: 79px 30px 20px 30px;
        background: #FAFAFA;
    }

    .footer__text {
        margin: 0 0 21px 0;
    }
}

@media screen and (max-width: 420px) {
    .footer {
        padding: 79px 10px 20px 10px;
        font-size: 12px;
    }

    .footer__text {
        margin: 0 0 32px 0;
        padding-bottom: 21px;
    }

    .footer__skills {
        flex-direction: column-reverse;
        row-gap: 31px;
        text-align: center;
    }

    .footer__list {
        flex-direction: column;
        row-gap: 14px;
        text-align: center;
    }

    .footer__year {
        color: #A0A0A0;
    }
}